<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.the703.dao.AppUserDao">
  <insert id="insertAppUser" parameterType="AppUserDao">
	  	insert into appuser(APP_USER_ID,EMAIL,PASSWORD,MBTI_TYPE_ID,CREATED_AT,UFILE,MOBILE,NICKNAME,PROVIDER,PROVIDER_ID) 
	  	values       ( #{appUserId}, #{email}, #{password}, #{mbtiTypeId}, #{creatdAt}, #{ufile, jdbcType=VARCHAR}, #{mobile}, #{nickname}, #{provider}, #{providerId});
  </insert>
  
  <select id="readAuthByEmail" resultType="AppUserDao" parameterType="AppUserDao">
  		select u.email, u.password, a.auth
		from appuser u left join authorities a on u.email =  a.email 
		where u.email = #{email};
  </select>
  
  <select id="findByEmail" resultType="AppUserDao" parameterType="AppUserDao">
  		select * from appuser where email = #{email};
  </select>
  
  <select id="iddoubleByEmail" resultType="AppUserDao" parameterType="AppUserDao">
  		select count(*) from appuser where email=#{email};
  </select>
  
  <update id="updateAppUser" parameterType="AppUserDao">
		update appuser
		set    password = #{password}, mbti_type_id = #{mbtiTypeId}, ufile = #{ufile}, nickname = #{nickname},
		mobile = #{mobile}, provider = #{provider}, provider_id = #{providerId}
		where app_user_id = #{appUserId};
  </update>
  
  <delete id="deleteAppUser" parameterType="AppUserDao">
  		delete from appuser where app_user_id=#{appUserId};
  </delete>
  
  <insert id="insertAuth" parameterType="AuthDto">
  		insert into authorities ( AUTH_ID, EMAIL, AUTH)
		values                  ( #{authId}, #{email}, #{auth});
  </insert>
  
  <delete id="deleteAuth" parameterType="AuthDto">
  		delete from authorities where email = #{email};
  </delete>